* {
  box-sizing: border-box;
  
}

h1 {
  color: black;
}

body{
 
  

 justify-content: center;
 display: flex; 
}

.title {
  text-align: center;
  
  }


.container {
  
  
  display: flex;
  justify-content: center;
  

}


.title {
text-align: center;

}

.status {
  font-size: 50px;
  text-align: center;
  
  

}


.grid {
  display: grid; 
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 50px;
  

  }


.game-cell {
  width: 200px;
  height: 200px;
  background-color: black;
  border: bold; 
  border: 1px solid white;
}


